.control_inner {
    position: relative;
    text-align: center;
}

.control_inner h3 {
    color: #fff;
    font-size: 4.5rem; /* 18px */
    transition: all 1s ease;
    padding-top: 35px;
    font-weight: bold;
}

.control_inner .btn_wrap {
    display: flex;
    gap: 10px;
}

.control_inner .btn_wrap .btn {
    display: flex;
    width: 130px;
    height: 130px;
    border-radius: 18px 6px 6px 18px;
    background: #4b4c56;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6), inset 0 1px 1px rgba(255, 255, 255, 0.16),
        inset 0 -1px 1px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
}

.control_inner .btn_wrap .btn:active {
    transform: translateY(3%);
    background: #444550;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), inset 0 1px 1px rgba(255, 255, 255, 0.16),
        inset 0 -1px 1px rgba(0, 0, 0, 0.3);

    animation-fill-mode: both;
}

.control_inner .btn_wrap .btn.minus {
    border-radius: 18px 6px 6px 18px;
}

.control_inner .btn_wrap .btn.plus {
    border-radius: 6px 18px 18px 6px;
}

.control_inner .btn_wrap .btn.plus img,
.control_inner .btn_wrap .btn.minus img {
    width: 58px;
    height: 58px;
    padding-bottom: 2px;
}

/* control_pop */
.control_pop {
    display: none;
    position: absolute;
    bottom: 61px;
    background: rgba(0, 0, 0, 0.5);
    width: 240px;
    height: 100px;
}

.control_pop.view_pop_02 {
    right: 0;
}

/* volumn_wrap */
.volumn_wrap {
    padding: 20px 10px 0 10px;
}

.volumn_wrap h3 {
    font-size: 0.857rem; /* 12px */
    text-align: center;
    margin-bottom: 15px;
}

.volumn_wrap .inner {
    display: flex;
}

.volumn_wrap .inner span {
    color: #9c9c9c;
    font-size: 1.571rem;
    /* 22px */
    width: 40px;
    height: 14px;
    line-height: 1rem;
    /* 14px */
    text-align: center;
}

.volumn_wrap .inner ul {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    line-height: 1.429rem; /* 20px */
}

.volumn_wrap .inner ul li {
    font-size: 0;
    line-height: 0;
    background: #ffd618;
    width: 4px;
    height: 20px;
    border-radius: 2px;
    overflow: hidden;
    z-index: 2;
}

.volumn_wrap .inner ul li.active~li {
    background: #fff;
}

/* volumn_wrap */

/* speed_wrap  */
.speed_wrap {
    padding: 20px 30px 0 30px;
}

.speed_wrap h3 {
    font-size: 0.857rem; /* 12px */
    text-align: center;
    margin-bottom: 10px;
}

.speed_wrap .inner {
    display: flex;
}

.speed_wrap .inner ul {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    line-height: 20px; /* 20px */
    position: relative;
}

.speed_wrap .inner ul::before {
    display: block;
    content: '';
    background: #cfcfcf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 4px;
}

.speed_wrap .inner ul li {
    font-size: 0.857rem; /* 12px */
    z-index: 2;
    position: relative;
    transform: translateY(18px);
    transition: all 0.3s ease;
}

.speed_wrap .inner ul li::before {
    display: block;
    content: '';
    background: #cfcfcf;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -13px;
}

.speed_wrap .inner ul li.active::before {
    background: #04acea;
    width: 18px;
    height: 18px;
    top: -17px;
}

.link_container button{
    display:flex;
    justify-content: center;
    align-items: center;
    width:405px;
    height:175px;
    background: rgba(75, 76, 86, 1);
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6), inset 0 3px 1px rgba(255, 255, 255, 0.16),
    inset 0 -3px 1px rgba(0, 0, 0, 0.3);
}

.link_container button h3{
    font-size: 4.5rem;
    font-weight: bold;
    color:#fff;
    padding-left: 30px;
}

.btn01 {
    background: #333437;
    border: 2px solid #545454;
}

.shadow01 {
    box-shadow: -20px 10px 30px rgba(0, 0, 0, 0.6);
}

.shadow02 {
    box-shadow: -20px 50px 30px rgba(28, 28, 28, 1);
}