/* 청사안내 */
.floor_wrap .floor_container{position: relative; width: 100%; height:calc(100% - 265px);}
.floor_wrap .floor_container img{width:100%;}
.floor_wrap .floor_container .location{position: absolute; top: 0; bottom:0; left:0; right:0;}
.floor_wrap .floor_container .location button{position: absolute; display:flex; align-items: center; height:65px; border-radius: 35px; background: #313131; border:3px solid #DCDCDC; color:#fff; font-weight: bold; font-size: 2.5rem; padding:0 25px 0 12px;}
.floor_wrap .floor_container .location button.active{background:#fff; color:#313131;}
.floor_wrap .floor_container .location .location_01{top:541px; right: 366px;}
.floor_wrap .floor_container .location .location_02{top:682px; right:420px;}
.floor_wrap .floor_container .location .location_03{top:386px; left:300px;}
.floor_wrap .floor_container .location .location_04{top:293px; left:114px;}
.floor_wrap .floor_container .location .location_05{top:606px; left:40px;}
.floor_wrap .floor_container .location .location_06{top:327px; right:312px;}
.floor_wrap .floor_container .location .location_07{top:459px; right:28px;}
.floor_wrap .floor_container .location .location_08{top:703px; right:82px;}
.floor_wrap .floor_container .location .location_09{top:703px; left:32px;}
.floor_wrap .floor_container .location .location_10{top:51px; left:301px;}
.floor_wrap .floor_container .location .location_11{top:269px; left:284px; font-size: 2rem;}
.floor_wrap .floor_container .location .location_12{top:279px; left:456px;}
.floor_wrap .floor_container .location .location_13{top:335px; right:169px;}
.floor_wrap .floor_container .location .location_14{top:634px; right:25px;}

.floor_wrap .floor_container .location button img{display:inline-block; width:40px; height:40px;}
.floor_wrap .floor_container .location button span{display: inline-block; padding-left: 8px;}

.floor_wrap .floor_container .location > span{position: absolute; display:inline-block; color:#fff; font-size: 2.5rem;}

.floor_wrap .tab_wrap{position: relative; height:265px;}
.floor_wrap .tab_result_wrap{position: absolute; width:100%; left:0; bottom:100%; border-bottom: 1px solid #707070;}

.tab_all_result{display:none; flex-direction: column-reverse; position: absolute; bottom:0; background:#000; width:100%; height:1290px; padding:50px; overflow-y: auto;}

.tab_all_result .touch_guide{position: fixed; bottom:540px; left:50%; transform: translateX(-50%); width:815px; height:125px; display:flex; align-items: center; justify-content: center; background: rgba(0, 0, 0, .8); transition: all 1.5s;}
.tab_all_result .touch_guide img{width:auto; height:69px;}
.tab_all_result .touch_guide span{font-size: 2.8rem; color:#fff; padding-left: 60px;}

.tab_all_result > dl{width: 100%; border-top:1px solid #D2D2D2; padding: 20px 0;}
.tab_all_result > dl:last-child{border:none;}
.tab_all_result > dl > dt{font-size: 3rem; padding-bottom: 30px;}
.tab_all_result > dl > dt > img{display: inline-block; vertical-align: top;}
.tab_all_result > dl > dt > span{}
.tab_all_result > dl > dd{display:flex; flex-direction: column-reverse;}
.tab_all_result > dl > dd > dl{display:table; table-layout: fixed;}
.tab_all_result > dl > dd > dl + dl{margin-bottom:20px;}
.tab_all_result > dl > dd > dl > dt{display:table-cell; width:110px; font-size: 2.4rem; font-weight: bold; text-align: center;}
.tab_all_result > dl > dd > dl > dd{display:table-cell;}
.tab_all_result > dl > dd > dl > dd > ul{display:flex; flex-wrap: wrap; gap:15px;}
.tab_all_result > dl > dd > dl > dd > ul > li{}
.tab_all_result > dl > dd > dl > dd > ul > li > button{background: #525252; padding: 12px 15px; font-size: 2rem; color:#fff;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.36);}

.floor_wrap .tab_result_wrap .tab_detail_result{display: flex; flex-direction: column-reverse; position: absolute; bottom:0; width:100%; height: 410px; padding-bottom: 30px; background:rgba(0, 0, 0, .85);}
.floor_wrap .tab_result_wrap .tab_detail_result dl + dl{margin-bottom:15px;}
.floor_wrap .tab_result_wrap .tab_detail_result dl dt{display:inline-block; font-size: 2.4rem; color:#fff; vertical-align: top; padding: 10px 50px 10px; font-weight: bold;}
.floor_wrap .tab_result_wrap .tab_detail_result dl dd{display:inline-block; }
.floor_wrap .tab_result_wrap .tab_detail_result dl dd ul{display:flex; gap: 15px;}
.floor_wrap .tab_result_wrap .tab_detail_result dl dd ul li button{background: #525252; padding: 12px 15px; font-size: 2.3rem; color:#fff;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.36);
}

.floor_wrap .tab_content .tab_sub_wrap{height:100%;}
.floor_wrap  #lnb{display:flex; align-items: center; justify-content: center; height:265px; padding: 0 34px;}
.floor_wrap  #lnb ul{display:flex; flex-wrap: wrap; column-gap: 16px; row-gap: 20px;}
.floor_wrap  #lnb ul li{width:calc(20% - 12.8px)}
.floor_wrap  #lnb ul li button{display:flex; justify-content: center; align-items: center; background: #676668; width:190px; height:70px; padding-left: 8px; color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6), inset 0 2px 1px rgba(255, 255, 255, 0.16);
}
.floor_wrap #lnb ul li button.active{background: #fff; color:#313131;}

.floor_wrap #lnb ul li button img{width:40px; height:40px;}
.floor_wrap #lnb ul li button span{display:inline-block; width:calc(100% - 48px); font-size:2.8rem; font-weight: bold;}
/* 청사안내 */

/* 수어모드 */
.sign_on #lnb{padding:0 28px 0 0;}
.sign_on .floor_wrap #lnb ul{position: relative; row-gap: 16px; justify-content: flex-end; flex-wrap: wrap;}
.sign_on .floor_wrap #lnb ul li{width: 100%; max-width: 180px;}
.sign_on .floor_wrap #lnb ul li:first-child{width:110px; position: absolute; left:0; top:0; bottom:0;}
.sign_on .floor_wrap #lnb ul li:first-child button{width:100%; height: 100%; flex-direction: column; flex-wrap: wrap; padding:0;}
.sign_on .floor_wrap #lnb ul li:first-child button span{display:block; width:100%; padding-top: 10px;}
.sign_on .floor_wrap #lnb ul li button{width: 180px; height:55px;}
.sign_on .floor_wrap #lnb ul li button span{font-size: 2.3rem;}