.list_main{width:var(--width);height:var(--frame_height);box-sizing:border-box;background: #fff;}
.list_main .list_area{display:block; width:100%; height:100%; margin:0 auto;}

.platform_box{height:100%; padding:200px 110px; box-sizing: border-box;}
.platform_box ul{display:flex; column-gap: 5px; height:100%;}
.platform_box ul li{flex:1; max-width:600px; height:100%;}
.platform_box ul li div.bg{position: relative; height:100%;background-repeat: no-repeat; background-size: cover; background-position: center;}
.platform_box ul li div.clipper{background-image: url('/images/platform/clipper_bg.png');}
.platform_box ul li div.pool{background-image: url('/images/platform/pool_bg.png');}
.platform_box ul li div.spring{background-image: url('/images/platform/spring_bg.png');}
.platform_box ul li div.manor{background-image: url('/images/platform/manor_bg.png');}
.platform_box ul li div.lp{background-image: url('/images/platform/lp_bg.png');}
.platform_box ul li div.ananti{background-image: url('/images/platform/ananti_bg.png');}
.platform_box ul li .bg .platform_item{position: absolute; width:100%; bottom:110px; text-align: center;}
.platform_box ul li:last-child .bg .platform_item{bottom:75px;}
.platform_box ul li .bg .platform_item p{padding-bottom:30px; font-size: 3.4rem; color:#fff;}

/* 플랫폼 팝업 */
.popup_platform{position: absolute;z-index: 120000;width:var(--width);height:var(--height); top:0; left:0; background:rgba(17, 17, 17, 0.9);}
.popup_platform .popup_base{position:absolute;z-index:121000;background:#fff;margin:auto; top:50%; left:50%; transform: translate(-50%, -50%); width:3000px;height:1500px;}
.popup_platform .popup_base .popup_box{width:100%; height:100%; display:flex; align-items: center;}
.popup_platform .popup_base .popup_box .left_box{flex:1; height:100%;}
.popup_platform .popup_base .popup_box .left_box .thumb{width:100%;height:100%;display:flex;justify-content:center;align-items: center;}
.popup_platform .popup_base .popup_box .left_box .thumb img{width:100%; height:100%; object-fit: cover;}

.popup_platform .popup_base .popup_box .right_box{flex:1; max-width:1500px; height:100%; color:#111;position:relative;display:inline-block; padding:100px; box-sizing: border-box; background:#fff;}
.popup_platform .popup_base .popup_box .right_box .txt_box{height:calc(100% - 320px); padding-bottom: 100px; box-sizing: border-box;}
.popup_platform .popup_base .popup_box .right_box .txt_box ul{}
.popup_platform .popup_base .popup_box .right_box .txt_box ul li:nth-child(2){padding-bottom:60px;}
.popup_platform .popup_base .popup_box .right_box .txt_box ul li:nth-child(3){padding-bottom:80px;}
.popup_platform .popup_base .popup_box .right_box .txt_box ul .platform_name{font-size: 3.5rem; font-weight: 500;}
.popup_platform .popup_base .popup_box .right_box .txt_box ul .platform_subname{font-size: 36px; padding-top: 10px; font-weight: 500;}
.popup_platform .popup_base .popup_box .right_box .txt_box ul .platform_desc{font-size: 2.14rem;}

.popup_platform .popup_base .popup_box .right_box .txt_box ul li > div{display:flex; padding-bottom:36px;}
.popup_platform .popup_base .popup_box .right_box .txt_box ul li > div > div{display:inline-block; font-size:2.14rem;}
.popup_platform .popup_base .popup_box .right_box .txt_box ul li > div > div:nth-child(1){min-width:350px; font-weight: 300; vertical-align: top;}

.popup_platform .popup_base .popup_box .right_box .other_img_box{width:100%; height:320px;}
.popup_platform .popup_base .popup_box .right_box .other_img_box ul{width:100%; height:100%; display:flex; gap:5px;}
.popup_platform .popup_base .popup_box .right_box .other_img_box ul li{width:100%; max-width:430px;}
.popup_platform .popup_base .popup_box .right_box .other_img_box ul li img{width:100%; height:100%; display:block; object-fit: cover;}
/* 플랫폼팝업 */