.list_main{float:left;width:var(--width);height:calc((var(--frame_height)) - 300px);box-sizing:border-box;background: #fff;}
.list_main .cover{overflow:hidden;}
.list_main .cover .wayfind_list{display:flex; height:1420px; gap:40px;}

.list_main .cover .wayfind_no_result{text-align:center;margin:450px 0 0 0;font-size:30px;color:#a6a6a6;}
.list_main .cover .wayfind_list > .wayfind_item{display:flex; flex-wrap: wrap; column-gap: 160px; row-gap:100px;}

.list_main .cover .wayfind_list .info{width:700px;height:660px;box-sizing:border-box; font-size:0;}
.list_main .cover .wayfind_list .info .logo_main{display: inline-block;width:700px; height:540px;}
.list_main .cover .wayfind_list .info .logo_main .lang_name_thumb{width:700px;height:60px;display:flex;justify-content: center;align-items: center;font-size:18px;padding:0 20px;line-height:28px;text-align:center;background: #FFFFFF;word-break: break-all;}

.list_main .cover .wayfind_list .info .logo_main img{display:block; width:100%; height:100%;background:#FFFFFF;}
.list_main .cover .wayfind_list .info .desc_main{display:block; height:120px;}
.list_main .cover .wayfind_list .info .desc_main .desc_info{display: flex; justify-content: space-between; width:100%; height:120px; padding:20px 0; box-sizing:border-box;}
.list_main .cover .wayfind_list .info .desc_main .desc_info .desc_title{font-size: 35px; font-weight: 500; letter-spacing: -3.5px;}
.list_main .cover .wayfind_list .info .desc_main .desc_info .desc_location{width:80px; height:80px;}